* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');
    font-family: 'Poppins-bold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

body {
    font-family: 'Poppins';
    font-size: 16px;
    margin: 0;
    min-height: 100%;
    background: #293440;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.formfield {
    padding: 5px;
    font-size: 14px;
}

.formfield input[type="submit"] {
    margin-top: 30px;
    cursor: pointer;
}

.formfield input[type="submit"]:hover {
    background: linear-gradient(145deg, #4ad80e, #3eb60c);
    box-shadow: 5px 5px 12px #3bac0b;
    transition: .3s ease;
}

input {
    width: 250px;
    height: 35px;
    border: 0;
    outline:none;
    font: inherit;
    border-radius: 30px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 6px 6px 12px #b9b9b9, -6px -6px 12px #ffffff;
}

input:focus {
    outline: none
}

input[type="text"], input[type="password"] {
    padding: 20px;
}

.logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.logo img {
    width: 120px;
}

.grid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width: 310px;
    height: 310px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 30px;
}

h2 {
    color: #1f1f1f;
}