* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf');

    font-family: 'Poppins-bold';
    src: url('../assets/fonts/Poppins-SemiBold.ttf');
}

:root {
    /* COLORS */
    --header: #293440;
    --button: #28A745;
    --active: #0C3867;
    --background: #f1f1f1;
    --preto: rgb(37, 37, 37);
}

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: var(--preto);
}

table {
    background: white;
    border: none;
    width: 650px;
    text-align: left;
}

table thead tr th {
    background: #e7e7e7;
    border: none;
    text-align: left;
    padding: 15px;
    font-weight: normal;
    font-family: 'Poppins-bold';
    height: 40px;
}

table tbody tr td {
    /* text-align: left; */
    padding: 10px
}

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 85px auto;
    grid-template-rows: 90px auto;
    grid-template-areas: "header header" "sidebar main";
    transition: all .3s ease;
}

.container.active {
    grid-template-columns: 300px auto;
}

/* ---- ---- HEADER ---- ---- */
.header {
    grid-area: header;
    padding: 0 20px;
    display: grid;
    background: var(--header);
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo info";
}

.header .container-logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.header .container-logo .btn-menu {
    border: none;
    color: var(--background);
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 14px;
}

.header .container-logo .btn-menu:hover {
    background: var(--preto);
    transition: .3s ease;
}

.header .container-logo .logo-header {
    width: 80px;
    height: 80px;
    display: inline-block;
}

.header .container-logo .logo-header img {
    vertical-align: top;
    width: 100%;
}

.header .info-header {
    grid-area: info;
    display: flex;
    align-items: center;
    color: var(--background);
}

.header .info-header button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 22px;
    padding: 7px 5px;
    border-radius: 100px;
    color: #f00;
    margin-right: 4px;
    margin-left: 50px;
    cursor: pointer;
}

.header .info-header button:hover {
    background: white;
    transition: .3s ease;
}

/* ---- ---- SIDEBAR ---- ---- */
.sidebar {
    grid-area: sidebar;
    background: #fff;
    overflow: hidden;
}

.sidebar a {
    display: block;
    padding: 15px 35px;
    color: #000;
    font-size: 16px;
    min-width: 800px;
}

.sidebar a:hover {
    background: #e5e5e5;
}

.sidebar a.active {
    background: #e5e5e5;
    font-family: 'Poppins-bold';
}

.sidebar .fas, .sidebar .far {
    color: #000;
    margin-right: 28px;
    width: 20px;
    text-align: center;
}

.sidebar .fas.fa-user-plus {
    margin-left: 3px;
    margin-right: 25px;
}

.sidebar a.active .fas {
    color: var(--active);
}

.sidebar hr {
    margin: 20px 0;
    border: 1px solid #dfdfdf;
}

/* ---- ---- MAIN ---- ---- */
.main {
    grid-area: main;
    background: var(--background);
    padding: 30px;
}

.main .selection {
    display: grid;
    grid-template-columns: 500px 130px auto;
    grid-template-areas: "produto produto produto";
    grid-gap: 30px;
    padding: 0 20px 150px 0;
}

.main .selection .produto {
    grid-area: produto;
}

.main .selection  label {
    display: block;
    margin-bottom: 5px;
}

.main .selection .produto input {
    border: 1px solid #cecece;
    border-radius: 4px;
    min-width: 100%;
    padding: 0 15px;
    height: 45px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #707070;
}

.main .selection .result-busca {
    position: absolute;
    width: 600px;
    float: left;
    margin-top: 80px;
    z-index: 999;
}

.main .selection .result-busca a {
    float: left;
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    background: white;
    color: #535353;
}

.main .selection .result-busca a:hover {
    background: #dfdfdf;
}

.main .selection .qtd {
    grid-area: qtd;
}

.main .selection .qtd input {
    border: 1px solid #cecece;
    -webkit-appearance: none;
    border-radius: 4px;
    max-width: 100%;
    padding: 0 15px;
    height: 45px;
    font-size: 14px;
}

.main .selection .add {
    grid-area: adicionar;
}

.main .selection .add button {
    border: 1px solid #cecece;
    border-radius: 4px;
    background: white;
    min-width: 130px;
    height: 45px;
    font-size: 20px;
    color: var(--button);
    cursor: pointer;
}

.main .selection .add button:hover {
    background: var(--button);
    color: white;
    transition: .3s ease;
}

.main .lista {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    grid-template-areas: "lista-produto venda";
    padding: 0 0 25px 0;
}

.main .lista label {
    display: block;
    margin-bottom: 5px;
}

.main .lista .lista-produtos {
    grid-area: lista-produto;
}

.main .lista .lista-produtos input {
    width: 70px;
    border: 1px solid #aaaa;
    border-radius: 4px;
    padding: 8px;
}

.main .lista .venda {
    grid-area: venda;
}

.main .lista .venda input {
    border: 1px solid #cecece;
    -webkit-appearance: none;
    color: #B4B4B4;
    border-radius: 4px;
    width: 180px;
    padding: 0 15px;
    height: 45px;
    font-size: 14px;
    font-family: 'Poppins';
    margin-bottom: 30px;
}

.main .lista .venda button {
    display: block;
    border: none;
    border-radius: 4px;
    background: var(--button);
    font-family: 'Poppins';
    width: 180px;
    padding: 0 15px;
    height: 45px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.main .lista .venda button:hover {
    background: var(--header);
    transition: .3s ease;
}




